<%= form_for([:admin, @course]) do |f| %>
  <%= render "shared/error_messages", obj: f.object %>
  <h2>USER CHECK listing for this course</h2>
  <div class="field">
    <table>
      <%= f.collection_check_boxes :user_ids, @users, :id, :name do |b| %>
        <tr>
          <%= b.label do %>
            <th><%= b.text %></th>
            <th class="selection_checkbox"><%= b.check_box %></th>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div><br>
  <div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>