<% @user.courses.each do |course| %>
  <%= course.subjects.each do |subject| %>
    <div class="row" >
      <h1>
       Course name:
       <%= course.name %>
      </h1>

      <h2 class="green" >
        Begin at:
        <%= course.begin_at %>
      </h2>

      <h2 class="red" >
        End at:
        <%= course.end_at %>
      </h2>

      <h3>
        Subject name:
      </h3>

      <h3>
        <table class="table">
          <tr>
            <td>
              <%= subject.name %>   
            </td>

            <td>
              <%= link_to "begin now!", "#", class: "btn btn-primary" %>
              <%= link_to "doing", "#", class: "btn btn-warning" %>
              <%= link_to "done", "#", class: "btn btn-success" %>
              <%= link_to "show", "#", class: "btn btn-info" %>
            </td>
          </tr>
        </table>
      </h3>

      <p>
        Task name:
        <table class="table">
          <tr>
            <td>
              Task name
            </td>

            <td>
              <%= link_to "begin now!", "#", class: "btn btn-primary" %>
              <%= link_to "doing", "#", class: "btn btn-warning" %>
              <%= link_to "done", "#", class: "btn btn-success" %>
            </td>
          </tr>
        </table>
      </p>
    </div>
  <% end %>
<% end %>