<div class="row" >
  <h1>
   Course name:
  </h1>

  <h2 class="green" >
    Begin at:
  </h2>
  <h2 class="red" >
    End at:
  </h2>

  <h3>
    Subject name
    <%= link_to "begin now!", "#", class: "btn btn-primary" %>
    <%= link_to "doing", "#", class: "btn btn-warning" %>
    <%= link_to "done", "#", class: "btn btn-success" %>
    <%= link_to "show", "#", class: "btn btn-info" %>
  </h3>
  <h3 class="green small" >
    Begin at:
  </h3>
  <h3 class="red small" >
    End at:
  </h3>

  <p>
    Task name
    <%= link_to "begin now!", "#", class: "btn btn-primary" %>
    <%= link_to "doing", "#", class: "btn btn-warning" %>
    <%= link_to "done", "#", class: "btn btn-success" %>
  </p>
  <p>
    Task name
    <%= link_to "begin now!", "#", class: "btn btn-primary" %>
    <%= link_to "doing", "#", class: "btn btn-warning" %>
    <%= link_to "done", "#", class: "btn btn-success" %>
  </p>
  <p>
    Task name
    <%= link_to "begin now!", "#", class: "btn btn-primary" %>
    <%= link_to "doing", "#", class: "btn btn-warning" %>
    <%= link_to "done", "#", class: "btn btn-success" %>
  </p>
</div>