<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <h3>
          <%= @user.name %>
        </h3>

        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>

<% @user.activities.each do |a| %>
  <% if a.act_type == "update profile" %>
    <ul>
      <li>Update profile <%= time_ago_in_words(a.created_at) %> ago.</li>
    </ul>
  <% elsif a.act_type == "assigned" %>
    <% current_user.courses.each do |c| %>
      <ul>
        <li>Course <%= c.name %> has been updated
        <%= time_ago_in_words(a.created_at) %> ago.</li>
      </ul>
    <% end %>    
  <% end %>
<% end %>

<%= render 'report' %>