  <h3>
    <strong>Basic Infomation:</strong>
  </h3>
  Description: <%= @course.description %>
  <br>
  Begin at: <%= @course.begin_at.to_date %>
  <br>
  End at: <%= @course.end_at.to_date %>

  <br>

  <h3>
    <strong>List Subjects:</strong>
  </h3>
  <table width="300">
    <% @subjects.each do |s| %>
    </tr>
    <tr>
      <td><%= s.name %> &nbsp;</td>
      <td><%= link_to "Show Detail", subject_path(s) %> &nbsp;</td>
    </tr>
    <% end %>
  </table>

  <h3>
    <strong>List Users:</strong>
  </h3>
  <table width="400">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if user.admin? %>
          <td><%= "Admin" %></td>
        <% else %>
          <td><%= "" %></td>
        <% end %>
        <td><%= link_to "View profile", user %></td>
      </tr>
    <% end %>
  </table>