<% provide(:title, 'User in Course') %>
<h1>Progress of <%= @user.name %> in Courses <%= @course.name %></h1>
<div>
  <p>Name: <b><%= @user.name %></b></p>
  <p>Email: <b><%= @user.email %></b></p>
  <p>Course: <b><%= @course.name %></b></p>
  <p>Description: <b><%= @course.description %></b></p>
</div>
<br>

<div class="subject">
  <% @course.subjects.each do |subject| %>
    <% us = subject.user_subjects.find_by user: @user %>
    <div>
      <h3>
        <strong>Subject: <%= subject.name %></strong>
      </h3>
      <table width="500">
        <thead>
          <th>Subject Name</th>
          <th>Task</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr>
            <th style="color:blue">
              <%= subject.name %>
            </th>
            <th style="color:blue">
              <%= subject.tasks.count %> tasks
            </th>
            <th style="color:blue">
              <%= us.status %>
            </th>
          </tr>
          <% subject.tasks.each do |task| %>
            <tr>
              <td>
              </td>
              <td>
                <%= task.name %>
              </td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
  <% end %>
</div>