<% provide(:title, 'All courses') %>
<h1>Courses <%= @course.name %> Assigned</h1>
<p>Name:<b><%= current_user.name %></b></p>
<p>Email:<b><%= current_user.email %></b></p>
<p>Course:<b><%= @course.name %></b></p>
<p>Description:<b><%= @course.description %></b></p>

<table class="table">
  <div class="course">
    <tr>
      <th>
        <b>Subject_ID</b>
      </th>
      <th>
        <b>Name</b>
      </th>
      <th>
        <b>Description</b>
      </th>
      <th>
        <b>Task</b>
      </th>
      <th>
        <b>Status</b>
      </th>
    </tr>
    <% @course.subjects.each do |subject| %>
      <tr>
        <th>
          <%= subject.id %> &nbsp;
        </th>
        <th>
          <%= link_to subject.name, subject_path(subject) %> &nbsp;
        </th>
        <th>
          <%= subject.description %> &nbsp;
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
      <% subject.tasks.each do |task| %>
        <tr>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
            <%= link_to task.name, "#" %> &nbsp;
          </th>
          <th>
          </th>
        </tr>
      <% end %>
    <% end %>
  </div>
</table>

