<%= form_for([:admin, @course]) do |f| %>
  <%= render "shared/error_messages", obj: f.object %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <p>
    Choice Subjects for Course
  </p>

  <%= f.collection_check_boxes :subject_ids, Subject.all, :id, :name do |b| %>
    <%= b.label do %>
      <%= b.text %>
      <%= b.check_box %>
    <% end %>
  <% end %>
  
  <%= f.submit "Save Edit", class: "btn btn-primary" %>
<% end %>