<% provide(:title, @course.name) %>

<div class="row">
  <h1>
    Course: <%= @course.name %>
  </h1>

  <h4>
    Description:
  </h4>

  <h4>
    <%= @course.description %>
  </h4>

  <h4>
    Begin at: <%= @course.begin_at.to_date %>
  </h4>

  <h4>
    End at: <%= @course.end_at.to_date %>
  </h4>
</div>

<h1>
  List user attend this course
</h1>
<table>
  <tr><th>Name</th><th></th></tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to "view user", user %></td>
    </tr>
  <% end %>
</table>