<% provide(:title, @course.name) %>

<div class="row">
  <h1>
    Course: <%= @course.name %>
  </h1>

  <h4>
    Description: <%= @course.description %>
  </h4>

  <h3 class = "green" >
    Begin at: <%= @course.begin_at.to_date %>
  </h3>

  <h3 class = "red" >
    End at: <%= @course.end_at.to_date %>
  </h3>
</div>

<table>
  <tr><th>Subjects in course</th><th></th>
    <% @subjects.each do |s| %>
  </tr>
  <tr>
    <td><%= s.name %></td>
    <td><%= link_to "view", s %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Edit Course', edit_admin_course_path(@course),
    class: "btn btn-primary" %>

<h1>
  List members is attend this course
</h1>
<table>
  <tr><th>Name</th><th></th></tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to "view user", user %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Assign Members", new_admin_course_assignment_path(@course),
                                  class: "btn btn-primary" %>
<br><br>
<div>
  <%= link_to "Edit", edit_admin_course_path(@course) %> |
  <%= link_to "Back", admin_courses_path %>
</div>
