<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "TMS_11", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <% if admin_user? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin Space <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Manage Users", admin_users_path %></li>
                <li><%= link_to "Add User", new_admin_user_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Manage Courses", admin_courses_url %></li>
                <li><%= link_to "Make a new course", new_admin_course_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Manage Subject", admin_subjects_path %></li>
              </ul>
            </li>
          <% end %>
          <% if !admin_user? %>
            <li><%= link_to "All Users", users_path %></li>
            <li><%= link_to "Calendar", user_courses_path(current_user) %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View Profile", current_user %></li>
              <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>